.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
dist-assets
build
*.local
.env
.cache
.assetpack
.generated
.claude
server/dist
tsconfig.tsbuildinfo
.vscode/settings.json
*/wrapper/public/icons
# moon
.moon/cache
.moon/docker
