/**
 * Here you can store any types that used across the systems
 */

export interface IFinishData {
  win: boolean;
  score?: number;
}

export interface IHUDData {
  levelNumber: number;
  levelCount: number;
  levelTitle: string;
  levelSource: string;
}
