{% set component_name = name | pascal_case %}

---
to: src/{{ component_name }}.ts
---

import { MainSystem } from "./systems/MainSystem";
import { GameController } from "@falkura-pet/engine";

export class {{ component_name }} extends GameController {
  override init(): void {
    this.systems.add(MainSystem);
  }
}
