{% set component_name = name | pascal_case %}

---
to: src/index.ts
---

import "@falkura-pet/shared/normalize/normalize.css";
import { Engine } from "@falkura-pet/engine";
import config from "../assets/game.json";
import { {{ component_name }} } from "./{{ component_name }}";
import { mountUI } from "./ui";

await Engine.init({
  gameConfig: config,
  gameCtor: {{ component_name }},
});

Engine.startGame();
mountUI();
